.dropdown {
  position: fixed;
  width: 100%;
  top: 65px;
  background: #1a1a1a;
  padding: 0;
  transition: opacity 600ms, visibility 600ms;

  .item {
    display: inline-block;
    border-bottom: 1px solid #303238;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .active {
    font-size: 20px;
    color: #ff9090;
  }
}

@media (min-width: 1200px) {
  .dropdown {
    display: none;
  }
}
