.header-container {
  padding-bottom: 65px;

  header {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #1a1a1a;
    display: flex;

    .content {
      margin: auto;
      width: 1200px;
      display: none;
    }

    .links {
      overflow: hidden;
      line-height: 65px;

      .link {
        display: inline-block;
        border-left: 1px solid #303238;
        border-right: 1px solid #303238;
        text-align: center;
        margin: 0px;
        padding: 0 10px;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transition: all 0.3s ease-out;
      }

      .link:hover {
        color: #c00;
      }

      .active {
        font-size: 18px;
        color: #ff9090;
      }
    }

    .icons {
      padding-top: 21px;

      .icon {
        padding: 0 4px;
        height: 24px;
        transition: all 0.3s ease-out;
      }
    }
  }
}
@media (min-width: 1200px) {
  .header-container {
    header {
      .content {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
