@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import './partials/header/header';
@import './partials/header/burger';
@import './partials/header/dropdown';
@import './partials/header/logo';

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(18, 18, 18);
}
